.my_cart{
    padding: 3rem 5rem;
}
.stockCounter_cart  input {
    border: none;
    width: 3rem;
    background-color: transparent !important;
    text-align: center;
  }

.stockCounter_cart > .minus{
    padding: 0.09rem 0.6rem;
    font-size: 1.1rem;
    margin-left: 0rem;
    background-color: rgba(128, 128, 128, 0.829);
    color: #fff;
    &:hover {
        color: #fff;
    }
}
