.home {
    padding: 0rem 5rem;
}


.card__container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
}

.card__desc {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.product-card {
    width: 30rem;
    position: relative;
    border-radius: 1rem;
    box-shadow: 1rem 1rem 1.5rem #5353533a;
    margin: 50px auto;
    background: #fafafa;
}

.badge {
    position: absolute;
    left: 0;
    top: 20px;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
    background: red;
    color: #fff;
    padding: 3px 10px;
}

.product-tumb {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20rem;
    padding: 3rem;
    background: #f0f0f0;
}

.product-tumb img {
    max-width: 100%;
    max-height: 100%;
}

.product-details {
    padding: 30px;
}

.product-catagory {
    display: block;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    color: #ccc;
    margin-bottom: 18px;
}

.product-details h4 a {
    font-weight: 500;
    display: block;
    margin-bottom: 18px;
    text-transform: uppercase;
    color: #363636;
    text-decoration: none;
    transition: 0.3s;
}

.product-details h4 a:hover {
    color: #fbb72c;
}

.product-details p {
    font-size: 15px;
    line-height: 22px;
    margin-bottom: 18px;
    color: #999;
}

.product-bottom-details {
    overflow: hidden;
    border-top: 1px solid #eee;
    padding-top: 20px;
}

.product-bottom-details div {
    // float: left;
    // width: 50%;
}

.product-price {
    font-size: 18px;
    color: #fbb72c;
    font-weight: 600;
}

.product-price small {
    font-size: 80%;
    font-weight: 400;
    text-decoration: line-through;
    display: inline-block;
    margin-right: 5px;
}
.card__ratting {
    display: flex;
    justify-content: space-between;
}
.product-links {
    display: flex;
    flex-direction: column;
}

.product-links a {
    display: inline-block;
    margin-left: 5px;
    color: #e1e1e1;
    transition: 0.3s;
    font-size: 17px;
}

.product-links a:hover {
    color: #fbb72c;
}


.temp {
    transform: translateX(1rem);
}











// .product_section{
//     padding: 3rem;
// }
// .product_container{
//     display: flex;
//     flex-wrap: wrap;
//     gap: 0.1rem;
// }
// .product_card {
//   font-weight: 400;
//   width: 17rem;
//   height: 20rem;
//   padding: 1.5rem;
//   box-shadow: 0.01rem 0.01rem 0.15rem 0.1rem rgba($color: #000000, $alpha: 0.2);

//   &_title {
//     text-decoration: none;
//     color: #000000;
//     font-size: 1.2rem;
//     margin-bottom: 1rem;
//   }
//   &_img {
//     width: 95%;
//   }
//   &_ratting{
//       margin-top: 1rem;
//       margin-bottom: 0.5rem;
//   }
//   &_price{
//       font-size: 2rem;
//   }
// }
